.header {
    /* position: fixed; */
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;
    background-color: #cfa3e1;
    z-index: 100;
}

.searchBtn {
    display: flex;
    justify-content: space-between;
    gap: 6px;
    font-family: inherit;
    border-radius: 8px;
    padding: 8px 16px;
    min-width: 75px;
    height: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    background-color: #ac6cff;
    cursor: pointer;
    transition: background-color 250ms ease;

    &:hover,
    &:focus {
        background-color: #7435c6;
    }
}

.searchForm {
    display: flex;
    justify-content: center;
    gap: 20px;
    text-align: center;
}

.searchInput {
    min-width: 250px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    border-radius: 4px;
    outline: none;
    background-color: transparent;
    border: 1px solid #dfc3f3;
    height: 40px;
    padding-left: 16px;
    transition: border-color 250ms ease;

    &:hover,
    &:focus {
        border-color: #ac6cff;
    }

    &:focus-within {
        border-color: #7435c6;
    }
}