.loadMore {
    text-align: center;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #ac6cff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover,
    &:focus {
        background-color: #7435c6;
    }
}